<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail úkolu</title>
</head>
<body>

<h1> {{task.title}}</h1>

<table style="table-layout:fixed;width: 100%;">
        <tr>
            <th>Text</th>
            <th>Status</th>
            <th>Soubor</th>
            <th>Datum splnění</th>
        </tr>

        <tr>
            <td>{{task.content}}</td>
            {% if task.done %}
            <td>Hotovo :)<td>
            {% else %}
            <td>Nesplněno :(<td>
            {% endif %}

            <td><a href="/download_file/{{task.id}}">{{task.filename}}</a><td>
            <td>{{task.date_TBD}}<td>
        </tr>
</table>


</body>
</html>